.projects-container{
    max-width: 768px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    overflow: hidden;
    padding-top: 110px;
    .heading{
        color: #ccd6f6;
        font-size: 24px;
        padding: 0;
        margin-bottom: 40px;
    }
    .projects{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 40px;
        padding-bottom: 50px;
    }
    .overlay{
        position: absolute;
        background-color: #1D4652;
        opacity: 0.7;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
        transition: opacity 0.3s ease;
        &:hover{
            opacity: 0;
        }
    }
    .icons{
        color: #ccd6f6;
        width: fit-content;
        transition: all 0.2s ease;
        &:hover{
            color: #00abf0;   
        }
    }
    .overlayContainer{
        position: absolute;
        background-color: #10283A;
        opacity: 0.9;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ul-list li{
        width: fit-content;
    }
    .more-btn{
        color: #00abf0;
        background-color: transparent;
        border: 1px solid #00abf0;
        border-radius: 5px;
        padding: 0.75rem 1rem;
        margin: 0 auto;
        width: fit-content;
        font-size: 16px;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover{
            background-color: rgba(100, 255, 218, 0.1);
        }
    }
}
@media screen  and ( min-width: 1024px) {
    .projects-container{
        max-width: 1024px;
    }
}
@media screen  and ( min-width: 768px) {
    .projects-container{
        .projects{
            gap: 150px;
        }
    }
    
}
@media screen  and ( max-width: 1073px) {
    .projects-container{
        padding: 0 15px;
    }
}
@media (max-width: 640px) {
    .overlayImg{
        height: 300px;
    }
}