@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* maincolor  #00abf0; */
.navbar{
    background-color: rgba(16, 30, 52, 0.9);
    z-index: 11;

}

.logo{
    color: #00abf0;
    font-weight: 700;
    font-size: 18px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 2px solid #00abf0; */
    border-radius: 50%;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}
.resumeBtn{
    color: #00abf0;
    background-color: transparent;
    border: 1px solid #00abf0;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.logo:hover, .resumeBtn:hover{
    background-color: rgba(100, 255, 218, 0.1);
}
.navLinks{
    padding: 0 16px;
    cursor: pointer;
    font-size: 14px;
    color: #ccd6f6;
    font-weight: 400;
    transition: color 0.3s ease;
}
.navLinks:focus{
    color: #00abf0;
}

.navLinks:hover{
    color: #00abf0;
}
.mobile .navLinks::before{
    content: "0" counter(item) ".";
    color: #64ffda;
    display: block;
    font-size: 17px;
    text-align: center;
}
.mobileLinks{
    font-size: 20px;
    color: #ccd6f6;
}
.mobileLinks:hover{
    color: #64ffda;
}