.about{
    background-color: #101E34;
}
.experience .skills-list{
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    grid-gap: 0 10px;
    padding: 0;
    margin: 20px 0 0 0;
    overflow: hidden;
    list-style: none;
}
.experience li{
    display: flex;
    align-items: center;
    position: relative;
      margin-bottom: 10px;
      padding-left: 20px;
}
.experience li::before{
    content: '▹' ;
        position: absolute;
        left: 0;
        color: #5FF1D0;
        font-size: 19px;
        line-height: 12px;
}
.aboutName::after{
    content: '';
      display: block;
      position: relative;
      top: -17px;
      width: 300px;
      height: 1px;
      margin-left: 190px;
      /* background-color: var(--lightest-navy); */
      background-color: #233554;
}