.main{
}
.home{
    width: 100%;
    /* height: 100vh; */
    background-color: #101E34;
}
.big-heading{
    margin: 0;
    font-weight: bold;
    /* font-size: clamp(40px, 8vw, 60px); */
    font-size: 65px;
    color: #CCD6F6; 
}
.big-heading2{
    margin: 0;
    font-weight: bold;
    /* font-size: clamp(40px, 8vw, 60px); */
    font-size: 60px;
    color: #8892B0; 
}
@media (max-width: 768px) {
    .big-heading{
        font-size: 50px;
    }
    .big-heading2{
        font-size: 45px;
    }
}
@media (max-width: 640px) {
    .big-heading{
        font-size: 40px;
    }
    .big-heading2{
        font-size: 39px;
    }
}