.main{
}
.home{
    width: 100%;
    height: 100vh;
    background-color: #101E34;
}
.big-heading{
    margin: 0;
    font-weight: bold;
    font-size: clamp(40px, 8vw, 60px);
    color: #CCD6F6; 
}
.big-heading2{
    margin: 0;
    font-weight: bold;
    font-size: clamp(40px, 8vw, 60px);
    color: #8892B0; 
}